/* .Cwork{
    width: 100%;
    height: 550px;
    margin: auto;
    background-image: url('https://cloudfront.fitnessblender.com/assets/img/fbplus/fingerprint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #fff;
    font-weight: 400;
    padding-top: 170px;
} */