navbar_mean_machine {
  position: sticky;
}

.navbar_main_menu_items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 32px 15px 0px 15px;
  font-size: 13.6px;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid red; */
  height: 100%;
  align-items: center;
}
.navbar_main_menu_items_workout {
  display: flex;
  position: relative;
  text-align: left;
  align-items: center;
  gap: 5px;
  height: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar_main_menu_items_workout:hover {
  border-bottom: 3px solid rgb(66, 150, 203);
  cursor: pointer;
}
.navbar_main_menu_items_workout_text {
  color: rgb(33, 36, 50);
  font-weight: 600;
}
.navbar_main_menu_items_programs {
  display: flex;
  position: relative;
  text-align: left;
  align-items: center;
  gap: 5px;
  height: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar_main_menu_items_respons_signup {
  display: flex;
  /* width: 100%; */
  position: relative;
  text-align: left;
  align-items: center;
  gap: 5px;
  height: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar_main_menu_items_programs:hover {
  border-bottom: 3px solid rgb(66, 150, 203);
  cursor: pointer;
}
.navbar_main_menu_items_programs_text {
  color: rgb(33, 36, 50);
  font-weight: 600;
}
.navbar_main_menu_items_community {
  display: flex;
  position: relative;
  text-align: left;
  align-items: center;
  gap: 5px;
  height: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar_main_menu_items_community:hover {
  border-bottom: 3px solid rgb(66, 150, 203);
  cursor: pointer;
}
.navbar_main_menu_items_community_text {
  color: rgb(33, 36, 50);
  font-weight: 600;
}
.navbar_main_menu_items_about {
  display: flex;
  position: relative;
  text-align: left;
  align-items: center;
  gap: 5px;
  height: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar_main_menu_items_about:hover {
  border-bottom: 3px solid rgb(66, 150, 203);
  cursor: pointer;
}
.navbar_main_menu_items_about_text {
  color: rgb(33, 36, 50);
  font-weight: 600;
}
.navbar_main_menu_items_healthy_living {
  display: flex;
  position: relative;
  text-align: left;
  align-items: center;
  gap: 5px;
  height: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar_main_menu_items_healthy_living:hover {
  border-bottom: 3px solid rgb(66, 150, 203);
  cursor: pointer;
}
.navbar_main_menu_items_healthy_living_text {
  color: rgb(33, 36, 50);
  font-weight: 600;
}
.navbar_main_menu_items_store {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 5px;
  height: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar_main_menu_items_store:hover {
  border-bottom: 3px solid rgb(66, 150, 203);
  cursor: pointer;
}
.navbar_main_menu_items_store_text {
  color: rgb(33, 36, 50);
  font-weight: 600;
}
.navbar_main_menu_items_membership {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 5px;
  height: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar_main_menu_items_membership:hover {
  border-bottom: 3px solid rgb(66, 150, 203);
  cursor: pointer;
}
.navbar_main_menu_items_membership_text {
  color: rgb(66, 150, 203);
  font-weight: 600;
}
.navbar_main_menu_items_signup {
  text-align: center;
  padding: 32px 15px 0px 15px;
  height: 100%;
  border-left: 1px solid rgb(233, 242, 244);
  position: relative;
  background-color: rgb(255, 255, 255);
}
.navbar_main_menu_items_signup:hover {
  border-bottom: 3px solid rgb(66, 150, 203);
  cursor: pointer;
}
.navbar_main_menu_items_myfitness_text_box {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin-left: 16px;
}
.navbar_main_menu_items_hiSign_text {
  color: rgb(66, 150, 203);
  font-weight: 400;
  font-size: 12px;
}
.navbar_main_menu_items_myfitness_text {
  font-weight: 600;
  color: rgb(33, 36, 50);
}

.navbar_main_menu_items_right_most {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding-top: 45px;
  border-left: 1px solid rgb(233, 242, 244);
}
.navbar_main_menu_items_search {
  height: 100%;
  width: auto;
  border-bottom: 3px solid rgb(255, 255, 255);
  margin-left: 25px;
}
.navbar_main_menu_items_search:hover {
  border-bottom: 3px solid rgb(66, 150, 203);
  cursor: pointer;
}
.navbar_main_menu_items_shopping_bag {
  height: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
  margin-left: 25px;
  display: flex;
}
.navbar_main_menu_items_shopping_bag_cart_number {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(66, 150, 203);
}
.navbar_main_menu_items_shopping_bag:hover {
  border-bottom: 3px solid rgb(66, 150, 203);
  cursor: pointer;
}

/* black box  light rgb(49,52,67) darker rgb(34,37,51) */

.navbar_main_menu_blackbox-workout {
  display: none;
  padding-left: 25%;
  padding-right: 25%;
  /* align-items: center; */
  justify-content: center;
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: rgb(49, 52, 67);
  /* background-color: red; */
}
.navbar_main_menu_blackbox-programs {
  display: none;
  padding-left: 25%;
  padding-right: 25%;
  z-index: 20;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: rgb(49, 52, 67);
}
.navbar_main_menu_blackbox-about {
  display: none;
  padding-left: 25%;
  padding-right: 25%;

  z-index: 20;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: rgb(49, 52, 67);
}
.navbar_main_menu_blackbox-healthy_living {
  display: none;
  padding-left: 25%;
  padding-right: 25%;

  z-index: 20;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: rgb(49, 52, 67);
}
.navbar_main_menu_blackbox-community {
  display: none;
  padding-left: 25%;
  padding-right: 25%;

  z-index: 20;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: rgb(49, 52, 67);
}
.navbar_main_menu_blackbox-search_bar {
  display: none;
  padding-left: 25%;
  padding-right: 25%;
  justify-content: center;
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: rgb(49, 52, 67);
}
.navbar_main_menu_blackbox-workout_items {
  /* margin-top: 40px; */
  text-align: center;
  width: 150px;
  height: 100%;
  background-color: rgb(221, 217, 217);
  /* color: black; */
  background-color: rgb(49, 52, 67);
}
.navbar_main_menu_blackbox-workout_items:hover {
  /* background-color: rgb(34, 37, 51); */
  background-color: rgb(202, 207, 219);
  background-color: #212432;
  /* color: rgb(34, 37, 51); */
}
.navbar_main_menu_blackbox-workout_image_box {
  padding: 35px 35px 12px 55px;
  width: 150px;
  margin: auto;
}
.navbar_main_menu_blackbox_h4 {
  /* color: rgb(255, 255, 255); */
  color: rgb(49, 52, 67);
  color: rgb(202, 207, 219);
  font-size: 14px;
  font-weight: 500;
}
.navbar_main_menu_blackbox_signup {
  display: none;
  width: 281px;
  height: 380px;
  background-color: rgb(49, 52, 67);
  position: fixed;
  justify-content: center;
  right: 130px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  z-index: 1;
}
.navbar_main_menu_blackbox_signup_items {
  width: 100%;
  margin-bottom: 15px;
}
.navbar_main_menu_blackbox_text_h4 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.navbar_main_menu_blackbox_text_p {
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-bottom: 40px;
}
