navbar_mean_machine {
  position: sticky;
}

.navbar_main_menu_items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 32px 15px 0px 15px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  align-items: center;
}
.navbar_main_menu_items_workout,
.navbar_main_menu_items_programs,
.navbar_main_menu_items_community,
.navbar_main_menu_items_about,
.navbar_main_menu_items_healthy_living,
.navbar_main_menu_items_respons_signup {
  display: flex;
  position: relative;
  text-align: left;
  align-items: center;
  gap: 5px;
  height: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar_main_menu_items_workout:hover,
.navbar_main_menu_items_programs:hover,
.navbar_main_menu_items_community:hover,
.navbar_main_menu_items_about:hover,
.navbar_main_menu_items_healthy_living:hover,
.navbar_main_menu_items_store:hover,
.navbar_main_menu_items_membership:hover,
.navbar_main_menu_items_signup:hover,
.navbar_main_menu_items_search:hover,
.navbar_main_menu_items_shopping_bag:hover {
  border-bottom: 3px solid rgb(66, 150, 203);
  cursor: pointer;
}
.navbar_main_menu_items_workout_text,
.navbar_main_menu_items_programs_text,
.navbar_main_menu_items_community_text,
.navbar_main_menu_items_about_text,
.navbar_main_menu_items_healthy_living_text,
.navbar_main_menu_items_store_text,
.navbar_main_menu_items_myfitness_text {
  color: rgb(33, 36, 50);
  font-weight: 600;
}
.navbar_main_menu_items_store,
.navbar_main_menu_items_membership {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 5px;
  height: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar_main_menu_items_membership_text {
  color: rgb(66, 150, 203);
  font-weight: 600;
}
.navbar_main_menu_items_signup {
  text-align: center;
  padding: 32px 15px 0px 15px;
  height: 100%;
  border-left: 1px solid rgb(233, 242, 244);
  position: relative;
  background-color: rgb(255, 255, 255);
}
.navbar_main_menu_items_myfitness_text_box {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin-left: 16px;
}
.navbar_main_menu_items_hiSign_text {
  color: rgb(66, 150, 203);
  font-weight: 400;
  font-size: 12px;
}

.navbar_main_menu_items_right_most {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding-top: 45px;
  border-left: 1px solid rgb(233, 242, 244);
}
.navbar_main_menu_items_search,
.navbar_main_menu_items_shopping_bag {
  height: 100%;
  width: auto;
  border-bottom: 3px solid rgb(255, 255, 255);
  margin-left: 25px;
}
.navbar_main_menu_items_shopping_bag_cart_number {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(66, 150, 203);
}

/* --------------BLACK BOX ON HOVER CSS -----------------------------*/

.navbar_main_menu_blackbox-workout,
.navbar_main_menu_blackbox-programs,
.navbar_main_menu_blackbox-about,
.navbar_main_menu_blackbox-community,
.navbar_main_menu_blackbox-healthy_living,
.navbar_main_menu_blackbox-search_bar {
  display: none;
  justify-content: center;
  gap: 15px;
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: rgb(49, 52, 67);
}

.navbar_main_menu_blackbox-workout_items {
  text-align: center;
  width: 150px;
  height: 100%;
  background-color: rgb(221, 217, 217);
}
.navbar_main_menu_blackbox-workout_items:hover {
  background-color: rgb(202, 207, 219);
}
.navbar_main_menu_blackbox-workout_image_box {
  padding: 35px 35px 12px 55px;
  width: 150px;
  margin: auto;
}
.navbar_main_menu_blackbox_h4 {
  /* color: rgb(255, 255, 255); */
  color: rgb(49, 52, 67);
  font-size: 14px;
  font-weight: 500;
}
.navbar_main_menu_blackbox_signup {
  display: none;
  width: 281px;
  height: 380px;
  background-color: rgb(49, 52, 67);
  position: absolute;
  right: 35px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  z-index: 1;
}
.navbar_main_menu_blackbox_signup_items {
  width: 100%;
  margin-bottom: 15px;
}
.navbar_main_menu_blackbox_text_h4 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.navbar_main_menu_blackbox_text_p {
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-bottom: 40px;
}
